.box{
  width: 750px;
  height: auto;
  background: url(../img/bj.jpg) no-repeat #f9edd5;
  /* background-size: cover; */
  position: relative;
}
.fill{
  width: 100%;
  height: 54px;
}
.title{
  width: 100%;
  font-size: 30px;
  color: #db0203;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
} 
.title1{
  width: 750px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  color: #ff2425;
  font-weight: 700;
}
.content{
  width: 500px;
  height: 300px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.http{
  width: 500px;
  height: 50px;
  background: url(../img/url.png);
  display: flex;
}
.url{
  width: 334px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: #db0203;
}
.btn{
  width: 165px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #000000;
}
.down_btn{
  width: 295px;
  height: 88px;
  background: url(../img/down_btn.png);
  margin: 31px auto 0;
  -webkit-animation: gif 1.5s infinite linear;
    animation: gif 1.5s infinite linear;
}


.login_head{
  width: 700px;
  height:101px;
  background: url(../img/login_head.png);
  margin: 50px auto 0;
}
.login{
  width: 700px;
  height: auto;
  /* background: url(../img/login.png) repeat; */
  margin: 0 auto;
  position: relative;
}
.login_left{
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/line.png);
  background-size: 100% 100%;
}
.login_right{
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/line.png);
  background-size: 100% 100%;
}
.list {
  margin-bottom: 10px;
}
.login_footer{
  width: 700px;
  height: 60px;
  background: url(../img/login_footer.png);
  margin: -10px auto 0;
}
.menu_content{
  display: none;  
}
.login_content img{
  display: block;
  margin: 0 auto;
}
.footer_fill{
  width: 750px;
  height: 130px;
}
footer{
  width: 750px;
  height: 100px;
  background: url(../img/footer.png);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
      z-index: 10;
}
.footer3{
  width: 131px;
  height: 121px;
  background: url(../img/footer33.png);
  -webkit-animation: gif 1.5s infinite linear;
    animation: gif 1.5s infinite linear;
}
footer div,footer a{
  width: 20%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer span{
  font-size: 13px;
  color: #f8f2a7;
}
.alert{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 11;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}
.pop{
  width: 750px;
  height:796px;
  background: url(../img/pop.png?1);
  margin-top: -160px;
}
.pop_fill{
  width: 100%;
  height: 197px;
}
.copy_url{
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #ee0000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.pop_btn{
  width: 546px;
  height: 73px;
  margin: 400px auto 0;
  display: flex;
  justify-content: space-around;
}
.pop_btn div{
  width: 218px;
  height: 73px;
}
.pop_btn1{
  background: url(../img/pop_btn1.png);
}
.pop_btn2{
  background: url(../img/pop_btn2.png);
}
.pop_btn2 a{
  display: block;
  width: 100%;
  height: 100%;
}
@keyframes gif {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
@-webkit-keyframes gif {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}